[submodule "pytorch_GAN_zoo"]
	path = workflows/pytorch_GAN_zoo/pytorch_GAN_zoo
	url = https://github.com/facebookresearch/pytorch_GAN_zoo.git
[submodule "workflows/sciml-bench/sciml-bench"]
	path = workflows/sciml-bench/sciml-bench
	url = https://github.com/stfc-sciml/sciml-bench.git
